    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:black;
    }
    
    input {
        font-size: 3em;
        color: black;
        border-radius:20px;
    }

    
    #elementsDiv{
        display:inline-block; 
        color:black; 
        text-align:left; 
        background-color:white; 
        padding:10px; 
        border-radius:10px;
    }
    
    #message1, #message2 {
        display:inline-block;
        padding:10px; 
        border-radius:10px;
        background: rgba(204, 204, 204, 0.7);
    }
    
    #category{
        color:black;
        font-size:1.2em;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }