    #main{
        color: black;
        margin: auto;
        width: 35%;
        border: 3px double black;
        padding: 10px;
        text-align: center;
        background: rgba(255,255,255,0.7);

    }
    
    #main2{
        color: black;
        margin: auto;
        width: 50%;
        border: 3px solid black;
        padding: 10px;
        text-align: center;
        background: rgba(255,255,255,0.7);
    
    }
    
    h1{
        font-family: 'Carrois Gothic SC', sans-serif;
    }
    h2{
        font-family: 'Nanum Gothic Coding', monospace;
    }
    h3, h4{
        font-family: 'Pathway Gothic One', sans-serif;
    }