  @import url('http://use.edgefonts.net/nosifer.js');
  
  body {
      background-image: url(../img/BG.jpg);
      background-color:black;
      color:white;
      background-size: cover;
      background-repeat: no-repeat;
      
   }
  #main{
    width: 1000px;
    background:clear;
    color: black;
    text-align: center;
    height:1000;
    margin: auto;
    top: 90px;
    /*background-image: url(../img/BGFridayThe13th.jpg);*/
   }
  #grid{
     top: 300px;
     margin-left: 200px;
     position:absolute;
     opacity: 0.4;
   }
  input{
    top:60px;
    left:70px;
    font-size:1.8em;
    padding: 5px 15px;
    color:red;
    cursor:pointer;
    text-align: center;
    position:absolute;
    font-weight:bold;
    background: black;
    border: 0 none;
    border-radius: 5px; 
  }
  #output{
    font-size:1.5em;
    padding: 5px 15px;
    color:red;
    text-align: center;
    position:absolute;
    background: black;
    border: 0 none;
    border-radius: 5px;
    margin: auto;
  }
      /*  FIRST ROW   */
    #reel1{
      top:305px;
      left:235px;
      position:absolute;
    }
    #reel2{
      top:305px;
      left:435px;
      position:absolute;
    }
    #reel3{
      top:305px;
      left:635px;
      position:absolute;
    }
    #reel4{
      top:305px;
      left:835px;
      position:absolute;
    }
    #reel5{
      top:305px;
      left:1035px;
      position:absolute;
    }
      /*  SECOND ROW   */
    #reel6{
      top:465px;
      left:235px;
      position:absolute;
    }
    #reel7{
      top:465px;
      left:435px;
      position:absolute;
    }
    #reel8{
      top:465px;
      left:635px;
      position:absolute;
    }
    #reel9{
      top:465px;
      left:835px;
      position:absolute;
    }
    #reel10{
      top:465px;
      left:1035px;
      position:absolute;
    }
      /*  THIRD ROW   */
    #reel11{
      top:625px;
      left:235px;
      position:absolute;
    }
    #reel12{
      top:625px;
      left:435px;
      position:absolute;
    }
    #reel13{
      top:625px;
      left:635px;
      position:absolute;
    }
    #reel14{
      top:625px;
      left:835px;
      position:absolute;
    }
    #reel15{
      top:625px;
      left:1035px;
      position:absolute;
    }