    body{
        background-color:#FBFFB8; 
        color:black; 
    }
    header, nav, sources, footer, #graphic{
        width: 1000px;
        margin: 0 auto;
        text-align: center;
    }
    #content{
        width: 825px; 
        margin: 0 auto;
        text-align: center;
    }
    h1{
        font-family: 'Abril Fatface', cursive;
        font-size: 3em;
        margin-bottom: 0px;
        text-shadow: 1px 1px black;
    }
    nav a {
        padding: 10px;
        padding-bottom:4px;
        font-size: 1.2em;
        text-decoration: none; /*removes underline */
        color: black;
    }
    nav a:hover{
        border:1px #BDB8FF solid;
        font-size: 1.4em; 
        transition: .9s; /* transition effect*/
    }
    #current{
        border-bottom:2px #BDB8FF solid;
        font-size: 1.4em; 
        transition: .9s; /* transition effect*/
    }
    #infoText, #theGraphic{
        float: left;
        width: 250px;
        text-align: left;
        padding-left: 15px;
        padding-top: 25px;
        font-size: 1.3em;
    }  
    #hollywood, sources{
        clear:left;
    } 
    shadow{
        display:block;
        position:relative;
    }
    .shadow:before{
        display:block;
        content:'';
        position:absolute;
        width:1000px;
        height:196px;
        -moz-box-shadow:inset 0px 0px 16px 16px #FAFFB8;
        -webkit-box-shadow:inset 0px 0px 16px 16px #FAFFB8;
        box-shadow:inset 0px 0px 16px 16px #FAFFB8;
    }
    footer{
        clear: left;
        font-size: .8em;
        color: gray;
    }
    footer a {
        padding: 9px;
        padding-bottom:3px;
        font-size: 1em;
        text-decoration: none; /*removes underline */
        color: black;
    }
    p{
        font-family: Verdana;
        font-size: 16px;
        border: 1px dashed #BBB8FF;
        padding: 5px 10px 8px 30px;
    }
    #theGraphic{
        height:300;
        width:350px;
       border: 5px solid #B8FFDF;
       padding: 10px;
}
    
    
    
    
    
    
    
    
    
    
    
    table{
        margin: 0px auto;
    }
    td{
        padding-right: 10px;
        font-size: 1.3em;
    }
    td strong{
        color: orange;
    }
    #table-header{
        background-color: #351a00;
    }
    .table-row{
        background-color: #753900;
    }
    ul{
        text-align: left;
        padding-left: 200px;
    }
    .hobby{
        color:yellow;
    }